@charset "utf-8";

@media screen and (max-width:767px) {

  /* 가로1200박스만 찾아서 100%로 설정한다. */
  header, .header_top, .header_bottom, .gnb > ul, .free_ex > article, .shop_box, .story article, .instar, .f_nav, .f_info, address{
    width:100%;
  }

  header{
    height:60px;
    position:relative;
  }
  .header_top h1{
    width:100%;
    margin:0px auto;
    position:static; /*본래성격으로 돌아옴.*/
    width:129px;
    padding-top:4px;
  }

  .fa-shopping-cart{
    display:block;
    color:rgb(252, 252, 252);
    font-size:1.6rem;
    position:absolute;
    right:20px;top:20px;
  }

  .header_bottom{
    left:-100%;
  }

  label.fa-bars{
    display:block;
    position:absolute;
    top:9px !important;
    left:10px !important;
    color:rgb(252, 252, 252);
    font-size:1.6rem;
  }

  .gnb{
    width:100%;
    height:100%;
    padding:150px 4% 0px 4%;
    box-sizing: border-box;
    background-color:rgba(0,0,0,.9);
    position:fixed;
    top:0px;
    left:-100%; /* 숨기기 */
    z-index:1000;
    transition:0.5s;
  }
  .gnb a{color:#ccc;}
  .gnb > ul{
    flex-direction:column;
  }
  .gnb > ul > li{
    border-bottom:1px solid rgb(153, 153, 153);
  }
  .gnb > ul > li > a{border:none;}
  .sub{display:none;}

  /* 닫기버튼 */
  label.fa-times{
    display:inline-block;
    position:fixed;
    z-index:1003;
    left:-60px;
    top:30px;
    font-size:2.3rem;
    color:#fff;
    padding:10px;
    cursor:pointer;
    transition:0.5s;
  }
/* 검색박스 숨기기 */
  fieldset{
    position:fixed;
    width:80%;
    left:-100%;
    z-index:1001;
    transition:0.5s;
  }

  .lnb{
    width:100%;
    position:fixed;
    z-index:1001;
    top:530px;
    left:-100%; /* 숨기기 */
    transition:0.5s;
  }
  .lnb > ul{
    flex-wrap: wrap;
    justify-content: center;
  }
  .lnb > ul > li{
    width:44%;
    text-align:center;
    margin:0px 2px 4px 2px;
    background-color:rgb(112, 112, 112);
  }
  .lnb > ul > li a{
    line-height:40px;
  }

  main .slide img{
    height:600px;
    object-fit:cover; /* 이미지 높이를 기준으로 보여줌 */
    /* object-fit:contain; 이미지 가로가 기준 */
  }

  /* 햄버거메뉴를 클릭하면 .lnb, fieldset, .gnb 모두 날아오게 하기 */
  #toggle:checked ~ header > .header_top .lnb{left:0px;}
  #toggle:checked ~ header > .header_top fieldset{left:20%;}
  #toggle:checked ~ header > .header_bottom .gnb{left:0px;}
  #toggle:checked ~ header > .header_bottom .fa-times{left:90%;}

/* 사료무료체험 */
  .free_ex{
    height:845px;
  }

  .free_ex_right{
    position:relative;
    top:-390px;
  }
  .free_ex > article > img{
    position:relative;
    top:350px;
    width:390px;
    padding:30px 10px 0px 13px;
  }

  /* 하림펫쇼핑하기 */
  .product{
    width:160%;
    flex-direction:row;
    overflow:hidden;
  }
  .product > li{
    width:80%;
    text-align:right;
  }
  .product img{
    width:200px;
  }
  .product .price{
    padding-top:20px;
  }

  /* 하림펫 스토리영역 */
  .story{
    width:100%;
    height:810px;
  }
  .story_left{
    width:100%;
    clear:left;
  }
  .story_left > h2{
    padding-top:10px;
  }

  .story article{
    text-align:center;
  }
  .story article > img{
    max-width:380px;
    height:auto;
    float:none;
    padding-top:30px;
  }

  /* 인스타그램 */
  .instar ul{
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(3, 145px);
  }
  .instar ul li{object-fit:cover;}
  .instar ul li:nth-child(even){display:none;}

}